services:
  web:
    build:
      context: .
      dockerfile: docker/Dockerfile
    command: gunicorn skidko_scan.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app                          # исходный код
      - ./staticfiles:/app/staticfiles  # статика
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis

  worker:
    build:
      context: .
      dockerfile: docker/Dockerfile
    command: celery -A skidko_scan.celery worker --loglevel=info
    volumes:
      - .:/app
      - ./staticfiles:/app/staticfiles
    env_file:
      - .env
    depends_on:
      - db
      - redis

  beat:
    build:
      context: .
      dockerfile: docker/Dockerfile
    command: celery -A skidko_scan.celery beat --loglevel=info
    volumes:
      - .:/app
      - ./staticfiles:/app/staticfiles
    env_file:
      - .env
    depends_on:
      - db
      - redis

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: skidko
      POSTGRES_USER: skidko
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:6
    ports:
      - "6379:6379"

volumes:
  pgdata:
